/*Que los enlaces no esten subrayados*/
a:link, a:visited, a:active {
  text-decoration:none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*La navbar*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid black;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li, .nav-imgs li {
  list-style: none;
  position: relative;
	display: inline-block;
}

.nav-links a {
  color: rgb(31, 28, 28);
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 520;
}

.nav-imgs {
  display: flex;
  text-decoration: none;
  /*background-color: red;*/
}

.nav-imgs li {
  display: flex;
  text-decoration: none;
  padding-right: 10px;
  /*background-color: red;*/
}

.button {
  color: #ffffff !important;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  background-color: #3a10e5;
  border: 0.1em solid #3a10e5;
  border-radius: 4px;
}

.button:hover {
  opacity: 0.8;
  transition: opacity 0.15s;
}

.buttonbis {
  color: #3a10e5;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  margin-right: 20px;
  border: 0.1em solid #ffffff;
  border-radius: 4px;
}

.buttonbis:hover {
  background-color: #f6f5fa;
  border: 0.1em solid #f6f5fa;
  transition: 0.15s;
}

.nav-imgs .button {
  margin-top: 250px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 4px;
}

.nav-imgs .logo {
  margin-top: 10px;
}

.nav-links li a:hover, .nav-imgs .submenu li a:hover , footer a:hover{ /*para que al poner el mouse arriba se ponga de colorcito*/
	color: #3a10e5;
	transition: all .3s;
}

.nav-links > li > a{
	padding: 5px;
}

/* Submenu que se despliega*/

.submenu {
  border:1px solid black;
	position: absolute;
	background: #ffffff;
  padding: 10px;
	visibility: hidden;
	opacity: 0;
}

.submenu li a {
	display: block;
	padding: 10px;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.nav-imgs .submenu {
  margin-top: 55px;
  width: 320px;
}

.mart {
  padding-left: 5px;
}

.nav-links li:hover .submenu, .nav-imgs li:hover .submenu {
	visibility: visible;
	opacity: 1;
}

.marquito {
  margin-top: 28px;
  margin-bottom: 28px;
  margin-left: 60px;
  width: 175px;
  margin-right: 50px;
  border:3px solid black;
  padding: 8px;
  text-align: center;
  }


/*-----------------------------------------------------------------*/

body {
  background-color: #fff0e5;
  font-family: sans-serif;
}

a {
  color: #000000;
}

/*Maqueta gral*/
.general {
  margin: auto;
  margin-top: 50px;
  width: 1260px;
  height: 1440px;
  /*background-color: red;*/
}

/*El recuadro de My Goal*/
.banner {
  float: right;
  width: 350px;
  height: 700px;
  /*background-color: green;*/
}
.sticky {
  width: 350px;
  padding-top: 60px;
}
/*Area del titulo del banner*/
.titulobis {
  padding-bottom: 20px;
}

.titulo {
  font-size: 26px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 10px;
}

.edit {
  padding: 8px;
  margin-left: 5px;
  font-weight: bold;
  color:#3a10e5;
  border-radius: 4px;
}

.edit:hover {
  background-color: #f6f5fa;
}

.week-title {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
}
.week-title p {
  padding-left: 15px;
  letter-spacing: 0.1em;
}

.targetbox {
  background-color: #ffffff;
  font-size: 15px;
  }

.dias-completados {
  padding:10px;
  padding-left: 25px;
  padding-top: 30px;
  border-bottom: 1px solid black;
}

.zero {
  font-weight: bold;
  font-size: 45px;
}

.semana {
  display: flex;
  justify-content: space-around;
  align-items: left;
  text-align: center;
  padding-bottom: 25px;
}

.monday, .tuesday, .thursday, .friday, .saturday, .sunday {
  background-image: url(./images/rombo.png);
  background-size: cover;
  padding: 12px;
  padding-bottom: 2px;
}

.wednesday {
  background-image: url(./images/rombo\ punteado.png);
  background-size: cover;
  padding: 11px;
}

.semanas-completadas {
  padding:10px;
  padding-left: 25px;
  padding-top: 30px;
  padding-bottom: 25px;
}


/*El recuadro de Get more from Codecademy*/
.Pro {
  padding-top: 60px;
  width: 840px;
  height: 189px;
  /*background-color: blue;*/
  align-items: center;
  /*margin-top: 100px;
  padding-left: 200px;
  padding-top: 20px;*/

}

.marco {
border:1px solid black;
background: #ffffff;
padding:10px;
padding-left: 30px;
}

.cajapro {
  font-size: 14px;
  font-weight: 520;
  color: #ffffff;
  background: #000000;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 3px;
  
  }

.titulopro {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  color: #000000;

}

.parrafopro {
  line-height: 40px; 
  color: #000000;
  font-size: 14px;
}

/*El recuadro de My Courses*/
.front {
  width: 840px;
  height: 1250px;
  /*background-color: yellow;*/
  /*margin-top: 100px;
  padding-left: 200px;
  padding-top: 20px;*/

}

.interactive, .careerpath, .javascriptcourse {
  margin-bottom: 20px;
  padding-bottom: 60px;
  background-color: white;
}

.careerpath .body a:hover {
  text-decoration: underline;
}

.text {
  padding-left: 30px;
  /*background-color: turquoise;*/
  width: 800px ;
}

.header {
  padding-top: 25px;
  width: 840px;
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
}

.header h2 {
  margin-top: 5px;
}

.header span {
  font-size: 14px;
  font-weight: 520;
}

.progress {
  float: right;
  /*background-color: violet;*/
  margin-right: 60px;
}

.progress h3 {
  font-size: 16px;
  float: right;
}

.bar {
  margin-left: 40px;
}

.body {
  padding: 30px;
  /*background-color: teal;*/
}

.intro {
  background-color: #f6f5fa;
  margin-right: 40px;
  padding: 15px;
}

.intro a {
  color: #3a10e5;
}

.intro .introduction {
  font-weight: bold;
  padding-left: 8px;
}

.intro section {
  float: right;
  padding-right: 8px;
  word-spacing: 2pt;
}

.so-far {
  color: #000000;
  padding-top: 10px;
  align-items: center;
  font-size: 13.5px;
}

.primerafila span {
  font-weight: bold;
  /*background-color: rosybrown;*/
  text-align: center;
  padding-top: 20px;
}

.second {
  padding-left: 45px;
}

.footer {
  float: right;
  padding-right: 30px;
}

.footer button {
  padding: 10px;
  font-weight: bold;
  color: #3a10e5;
}


.gris {
  font-size: 15.2px;
  padding: 12px;
  background-color: #f6f5fa;
  margin-right: 40px;
}

.skill, .course {
  border:1px solid black;
  background: #ffffff;
  padding-top:18px;
  padding-left: 12px;
  width: 405px;
  height: 160px
}

.course {
  float: right;
}

.headerbox {
  padding-bottom: 10px;
}

.bodybox {
  margin-bottom: 48px;
}

.bodybox span {
  font-size: 14px;
}

.footerbox {
  float: right;
  font-size: 14px;
  font-weight: bold;
}

.footerbox {
  padding: 4px;
  padding-right: 10px;
  padding-left: 10px;
}

.skill .footerbox {
  background-color: #f5ffe3;
}

.course .footerbox {
  background-color: #f5fcff;
}

/*El footer con los links y redes sociales*/
footer {
  border-top: 1px solid black;
  padding-top: 20px;
  height: 400px;
  /*background-color: lightblue;*/
}



.infor, .derechos{
  margin: auto;
  width: 1450px;
  /*background-color: greenyellow;*/
}

.izqu, .der {
  width: 725px;
  height: 310px;
  margin-bottom: 20px;
}

.izqu , .gridder {
  /*background-color: darkorange;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 120px;
}

.izqu {
  grid-auto-rows: 120px;
  border-right:1px solid black;
}

.gridder {
  grid-auto-rows: 300px;
}

.der {
  /*background-color: deeppink;*/
  float: right;
  padding-left: 40px;
}

.company, .mobile, .resources, .community, 
.individual-plans, .enterprise-plans, .support {
  /*background-color: gold;*/
  padding-left: 5px;
}

.mobile {
  padding-top: 40px;
  height: 200px;
  align-items: baseline;
}

.mobile a:hover { 
  opacity: 0.6;
}

.support {
  margin-bottom: 50px;
}

.lista {
  margin-bottom: 12px;
}

.infor li {
  padding-bottom: 5px;
  list-style: none;
}

.subjects, .languagesuno, .languagesdos{
  /*background-color: khaki;*/
}

.gridder h4 {
  padding-bottom: 10px;
}

.subjects {
  width: 280px;
}

.languagesdos {
  padding-top: 28px;
}

.derechos {
  border-top:1px solid black;
  padding-top: 12px;
}

.privacy, .love {
  font-size: 13.5px;
}

.love {
  float: right;
}
