/*Que los enlaces no esten subrayados*/
a:link, a:visited, a:active {
  text-decoration:none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*La navbar*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid black;
}

/*.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}*/
/*.navizq {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  height: 100%;
  z-index: 1;
}*/

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(31, 28, 28);
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
}

.nav-imgs {
  display: flex;
  text-decoration: none;
  /*background-color: red;*/
}

.nav-imgs button {
  margin-top: 5px;
  padding: 12px;
  margin-left: 8px;
  background-color: rgb(73, 15, 209);
  color: #ffffff;
}

.nav-imgs .logo {
  margin-top: 10px;
}

body {
  background-color: #FCE7CC;
  font-family: sans-serif;
}

/*Maqueta gral*/
.general {
  margin: auto;
  margin-top: 50px;
  width: 1260px;
  height: 1440px;
  background-color: red;
}

/*El recuadro de My Goal*/
.banner {
  padding-top: 60px;
  float: right;
  width: 350px;
  height: 500px;
  background-color: green;
}

.titulo {
  font-size: 26px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 10px;
}

.edit {
  padding: 5px;
  font-weight: bold;
}

.week-title {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
}
.week-title p {
  padding-left: 15px;
  letter-spacing: 0.1em;
}

.targetbox {
  background-color: #ffffff;
  font-size: 15px;
  }

.dias-completados {
  padding:10px;
  padding-left: 25px;
  padding-top: 30px;
  border-bottom: 1px solid black;
}

.zero {
  font-weight: bold;
  font-size: 45px;
}

.semana {
  display: flex;
  justify-content: space-around;
  align-items: left;
  text-align: center;
  padding-bottom: 25px;
  
}

.monday, .tuesday, .thursday, .friday, .saturday, .sunday {
  background-image: url(./images/rombo.png);
  background-size: cover;
  padding: 12px;
  padding-bottom: 2px;
}

.wednesday {
  background-image: url(./images/rombo\ punteado.png);
  background-size: cover;
  padding: 11px;
}

.semanas-completadas {
  padding:10px;
  padding-left: 25px;
  padding-top: 30px;
  padding-bottom: 25px;
}


/*El recuadro de Get more from Codecademy*/
.Pro {
  padding-top: 60px;
  width: 840px;
  height: 189px;
  background-color: blue;
  align-items: center;
  /*margin-top: 100px;
  padding-left: 200px;
  padding-top: 20px;*/

}

.marco {
border:1px solid black;
background: #ffffff;
padding:10px;
padding-left: 30px;
}

.cajapro {
  font-size: 14px;
  font-weight: 520;
  color: #ffffff;
  background: #000000;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 3px;
  
  }

.titulopro {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  color: #000000;

}

.parrafopro {
  line-height: 40px; 
  color: #000000;
  font-size: 14px;
}

/*El recuadro de My Courses*/
.front {
  width: 840px;
  height: 1250px;
  background-color: yellow;
  /*margin-top: 100px;
  padding-left: 200px;
  padding-top: 20px;*/

}

.interactive, .careerpath, .javascriptcourse {
  margin-bottom: 20px;
  padding-bottom: 60px;
  background-color: white;
}

.text {
  padding-left: 30px;
  /*background-color: turquoise;*/
  width: 800px ;
}

.header {
  width: 840px;
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
}

.header span {
  font-size: 14px;
  font-weight: 520;
}

.progress {
  float: right;
  background-color: violet;
  margin-right: 60px;
}

.progress h3 {
  font-size: 16px;
  float: right;
}

.bar {
  margin-left: 40px;
}

.body {
  padding: 30px;
  background-color: teal;
  
}

.intro {
  background-color: rgb(226, 231, 235);
  margin-right: 40px;
  padding: 15px;
}

.intro .introduction {
  font-weight: bold;
  padding-left: 8px;
}

.intro section {
  float: right;
  padding-right: 8px;
  word-spacing: 2pt;
}

.so-far {
  color: #000000;
  padding-top: 10px;
  align-items: center;
  font-size: 13.5px;
}

.primerafila span {
  font-weight: bold;
  background-color: rosybrown;
  text-align: center;
  padding-top: 20px;
}

.second {
  padding-left: 45px;
}

.footer {
  float: right;
  padding-right: 30px;
}

.footer button {
  padding: 10px;
  font-weight: bold;
  color: rgb(54, 25, 133);
}

.footer .violeta {
  background-color: rgb(54, 25, 133);
  color: white;
}

.gris {
  font-size: 15.2px;
  padding: 12px;
  background-color: thistle;
  margin-right: 40px;
}

.skill, .course {
  border:1px solid black;
  background: #ffffff;
  padding-top:18px;
  padding-left: 12px;
  width: 405px;
  height: 160px
}

.course {
  float: right;
}

.headerbox {
  padding-bottom: 10px;
}

.bodybox {
  margin-bottom: 48px;
}

.bodybox span {
  font-size: 14px;
}

.footerbox {
  float: right;
  font-size: 14px;
  font-weight: bold;
}

.footerbox {
  padding: 4px;
  padding-right: 10px;
  padding-left: 10px;
}

.skill .footerbox {
  background-color: rgb(206, 248, 225);
}

.course .footerbox {
  background-color: rgb(222, 239, 248);
}

/*El footer con los links y redes sociales*/
footer {
  border-top: 1px solid black;
  padding-top: 20px;


  height: 500px;
  background-color: lightblue;
}

.infor, .derechos{
  margin: auto;
  width: 1450px;
  background-color: greenyellow;
}

.izqu, .der {
  width: 720px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 120px;
}

.izqu {
  background-color: darkorange;

}

.der {
  background-color: deeppink;
  float: right;
}

.company, .mobile, .resources, .community, 
.individual-plans, .enterprise-plans, .support {
  background-color: gold;
  padding-left: 5px;
}

.mobile {
  padding-top: 40px;
  height: 200px;
  align-items: baseline;
}

.support {
  margin-bottom: 50px;
}

.lista {
  margin-bottom: 12px;
}

.izqu li {
  padding-bottom: 4px;
  list-style: none;
}